#admin {
  .admin {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    input {
      padding: 10px 40px;
      border-radius: 10px;
      outline: none;
    }
    button {
      padding: 10px 40px;
      border-radius: 10px;
    }
  }
}
