#header {
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    h2 {
      text-transform: uppercase;
    }
    a {
      text-decoration: none;
    }
  }
}
